html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 75em) {
  html {
      font-size: 59%;
  }
}

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.header_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
}

.header_contect {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.header_image {
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 1.5rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.header_name {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.header_nav {
  display: flex;
}

.header_li {
  list-style: none;
}

.header_link {
  padding: 2.2rem 3rem;
  display: inline-block;
  font-size: 1.6rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color 0.3s;
  text-decoration: none;
}

.home_hero {
  color: #fff;
  background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url('./images/backround1.jpg');
  background-position: center;
  height: 100vh;
  min-height: 80rem;
  max-height: 120rem;
  position: relative;
}

.home_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90rem;
  width: 92%;
}

.heading {
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #111;
  font-weight: 770;
  margin-bottom: 30px;
}

.home_info {
  margin: 3rem auto 0 auto;
  max-width: 80rem;
}

.text_primery {
  color: #333;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
  line-height: 1.6;
}

.home_button {
  margin-top: 5rem;
  text-align: center;
}

.btn--bg {
  padding: 1.5rem 8rem;
  font-size: 2rem;
}

.btn {
  background: #7843E9;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  position: relative;
  border: 0;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
}

.btn::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: background 0.2s;
}

.btn:hover::before {
  background: rgba(0, 0, 0, 0.1);
}

.home_social_wep {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0.5rem;
  border-radius: 10px;
}

.home_social {
  width: 5rem;
}

.a {
  text-decoration: none;
  color: inherit;
}

.home-hero__social-icon-link {
  width: fit-content;
  display: block;
  padding: 1rem;
  transition: background 0.3s;
  border-radius: 5px;
}

.home-hero__social-icon {
  width: 100%;
  border-radius: 6px;
}

@media (max-width: 800px) {
  .home_social_wep {
    display: none;
  }
}

.end_mouse {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
}

.mouse {
  width: 25px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 60px;
  position: relative;
  overflow: hidden;
}

.mouse::before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.3s infinite;
}

@keyframes wheel {
  100% {
    opacity: 0;
    top: 27px;
  }
}

.sec_bad {
  padding: 12rem 0;
}

.about {
  background: white;
}

section {
  display: block;
  width: 100%;
}

.heading-sec__mb-bg {
  margin-bottom: 11rem;
}

.projects__row {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 5rem;
  margin-bottom: 11rem;
}

.projects__row-img-cont {
  overflow: hidden;
}

.projects__row-img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.projects__row-content {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.projects__row-content-title {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.projects__row-content-desc {
  font-size: 1.8rem;
  color: #666;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 3rem;
}

.contact {
  background: linear-gradient(to right, rgba(245,245,245,0.8), rgba(69, 37, 37, 0.8));
  background-size: cover;
  background-position: center;
}

.contact__form-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: black;
  padding: 4rem;
  margin-top: 6rem;
  max-width: 80rem;
  text-align: right;
  width: 95%;
  border-radius: 10px;
  margin: 5rem auto 0 auto;
}

@media only screen and (max-width: 37.5em) {
  .contact__form-container {
    padding: 3rem;
  }
}

.contact__form-field {
  margin-bottom: 4rem;
}

@media only screen and (max-width: 37.5em) {
  .contact__form-field {
    margin-bottom: 3rem;
  }
}

.contact__form-label {
  color: #fdfbfb;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
}

.contact__form-input {
  color: #333;
  padding: 2rem;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 1.6rem;
  background: #f0f0f0;
  border-radius: 5px;
  font-weight: 600;
}

.contact__form-input::placeholder {
  color: #999;
  font-weight: 600;
  font-size: 1.6rem;
}

.contact__btn {
  padding: 1.5rem 8rem;
  font-size: 2rem;
  display: inline-block;
}

.heading-sec__main {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
  margin: 2rem;
  color: #f0f0f0;
  padding-top: 5rem;
}
.footer_home{
  
  background: #000;
  color: #fff;

}
.footer {
display: block;
unicode-bidi: isolate;
}
.main-container {
max-width: 120rem;
margin: auto;
width: 92%;
}
.main-footer__upper {
display: flex;
justify-content: space-between;
padding: 8rem 0;
}
.main-footer__row-1 {
order: 2;
}
.main-footer__row-2 {
width: 40%;
order: 1;
max-width: 50rem;
}
.heading-sm {
font-size: 2.0rem;
text-transform: uppercase;
letter-spacing: 1px;
text-align: left;
}
.main-footer__social-cont {
margin-top: 2rem;
}
a {
text-decoration: none;
color: inherit;
}
.main-footer__icon {
margin-right: 1rem;
width: 2.5rem;
border-radius: 7px;
/* border-width: 0.2px; */
/* border-style: solid; */
}
.main-footer__row-2 {
width: 40%;
order: 1;
max-width: 50rem;
}

.heading-sm {
font-size: 2.2rem;
text-transform: uppercase;
letter-spacing: 1px;
color: white;

}
.main-footer__short-desc {
margin-top: 2rem;
color: #eee;
font-size: 1.5rem;
line-height: 1.7;
}
.main-footer__lower {
padding: 4rem 0;
border-top: 1px solid #444;
color: #eee;
font-size: 1.2rem;
text-align: left;
text-align: center;
}
.main-footer__lower a {
text-decoration: underline;
font-weight: bold;
margin-left: 2px;
}
.main-footer__icon--mr-none {
margin-right: 0;
}
.heading-sm {
font-size: 2.2rem;
text-transform: uppercase;
letter-spacing: 1px;
}
.main-footer {
background: #000;
color: #fff;
}
